.navbar
	group()
	background 				rgba(white, 0.5)
	font-size 				0.8em

.navbar-logo
	float 					left
	height 					2em
	margin 					0.3em 0 0 0.5em
	width 					2em

.navbar-list
	inline-list()
	unstyled-list()
	float 					right

.navbar-list-item
	a
		background-color 	rgba(white, 0.3)
		display 			block
		padding 			0.5em
		text-decoration 	none

		&:active,
		&:focus,
		&:hover
			background-color white