.row
	margin 				1em 0 0

.panel
	background-color 	rgba(white, 0.7)
	box-shadow			0 0.5em 0.5em rgba(black, 0.2)
	padding 			1em

.panel-intro
	text-align 			center

.panel-signin
	background-color 	white