// Declare any variables to be used throughout the website

// COLOURS
white =				#ffffff
grey =				#333333
light-grey =		#ecf0f1
black =				#000000

red =				#e74c3c
orange =			#e67e22
yellow =			#f1c40f
green =				#1abc9c
blue =				#3498db
dark-blue =			#34495e
purple =			#9b59b6


// LAYOUT
spacing =			1.5em
cornerradius =		0.2em


// TYPOGRAPHY

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");

font = 				"Open Sans", sans-serif

textcolour =		grey
linkcolour =		blue

fontface =			sans-serif
fontsize =			16px