.row.center.middle
	.panel.panel-intro.column-6--hand
		img(src="images/icon.png")
		h1 Supermean!
			.subheading another <abbr title="Mongo Express Angular Node">MEAN</abbr> stack generator
		small.muted
			| Made with 
			svg(viewBox="0 0 33 33",class="icon icon-heart")
				use(xlink:href="#icon-heart")
			|  in Beijing