.form-group
	group()
	margin-bottom 		0.5em

label
	display 			inline-block
	width 				100%

	// @media $lap
	// 	width 			20%

input
	border 				1px solid light-grey
	font-size 			1.2em
	padding 			0.3em 0.5em
	width 				100%

	// @media $lap
	// 	margin-left 	-4px
	// 	width 			80%

p.has-error,
.has-error p
	color 				red
	margin 				0